
:root {
  --font-main: "Comfortaa", "PT Sans", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

