@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.font-main {
  font-family: var(--font-main);
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

