@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap");

